<header>
<div class="nav-bar">
    <div class="logo">
        <a routerLink=""><img src="favicon.ico" alt=""></a>

    </div>
    <nav class="nav-principal">
        <ul class="lista-navegacion">
            <li class="item"><a routerLink="inicio">Inicio</a></li>
            <li class="item"><a routerLink="pagina-comics">Comics</a></li>
            <li class="item"><a routerLink="pagina-merchandising">Merchandising</a></li>
            <li class="item"><a routerLink="pagina-libros">Libros</a></li>
            <li class="item"><a routerLink="pagina-mangas">Mangas</a></li>
          
        </ul>

    </nav>
</div>


</header>
