<div class="estadisticas-comics">
        <div class="comics-ultimos-lanzamientos"> 
            <div class="titulo-seccion">
                <h2>ÚLTIMOS LANZAMIENTOS</h2>

            </div>
            <app-seccion-carrucel></app-seccion-carrucel>  


        </div>

        <div class="comics-mas-vendidos">
               <div class="titulo-seccion">
                <h2>MÁS VENDIDOS</h2>

            </div>
            <app-seccion-carrucel></app-seccion-carrucel> 

        </div>

        <div class="comics-clasicos">
               <div class="titulo-seccion">
                <h2>CLÁSICOS</h2>

            </div>
            <app-seccion-carrucel></app-seccion-carrucel> 

        </div>

</div>